<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" expand="block"  shape="round" color="danger">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="inputData" (ngSubmit)="confirmModal()">
    <ion-item lines="full">
      <ion-label position="floating">Nama quote</ion-label>
      <ion-input type="text" formControlName="quote" required></ion-input>

    </ion-item>
    <ion-button (click)="confirmModal()" expand="block" [disabled]="!inputData.valid">
      Lanjutkan
     </ion-button>
  </form>






</ion-content>
