<ion-content>
  <div class="navbar"></div>
  <!--  -->
  <div class="header">
    <!-- <p>welcome {{userName}}</p> -->
    <h1>Welcome</h1>
  </div>
  <!--  -->
  <div class="content">

    <ion-card>
      <ion-card-content>
        Awesome content
      </ion-card-content>
    </ion-card>
    <div *ngIf="adaData">
      <p>ada data</p>
    </div>

    <div *ngIf="tidakAdaData">
      <p>tidak ada data!</p>
    </div>
  </div>
  <!--  -->
  <div class="button">
    <ion-button (click)="showModal()"> Buat quote baru </ion-button>
  </div>
</ion-content>
