<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginData" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]="!loginData.valid" >Sign In</ion-button>
        <a [routerLink]="['/register']" class="small-text">Belum Daftar ?</a>
      </ion-col>
    </ion-row>
  </form>
  <!-- <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3 align-self-center>
        <form [formGroup]="loginData" (ngSubmit)="login()">
          <ion-item>
            <ion-label floating>email :</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>password :</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button
            (click)="login()"
            expand="block"
            shape="round"
            type="submit"
            [disabled]="!loginData.valid"
          >
            Login
          </ion-button>
        </form>

        <ion-row padding-top>
          <ion-col>
            <ion-button
              (click)="redirectToRegister()"
              expand="block"
              shape="round"
            >
              Register
            </ion-button>
          </ion-col>
          <ion-col>
            
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
